// Ifkit / http://ricostacruz.com/ifkit
// ------------------------------------

@import 'compass/css3';

$blocks: ul, h1, h2, h3, h4, h5, h6, p, blockquote, dl;

//@ [Group] Normalize
//
// Mixin for normalizing.

//@ [Mixin] if-content
//
//     # CSS
//     .content-area {
//       @include if-content; }
//
//     # HAML
//     .content-area
//       %h2 Hello
//       %p Lorem ipsum dolor sit amet...
//       %ul
//         %li Lorem
//         %li Hello
//         %li Hello
//         %li Hello
//
// Normalizes typography for content areas.
//
// You may specify additional parameters.
//
//   $vertical-margin ::
//   Margin in between things. Defaults to `20px`.
//
//   $indent ::
//   Indentation for lists, blockquotes and such. Defaults to `25px`.
//
@mixin if-content(
  $vertical-margin: 20px,
  $indent: 25px
) {
  table {
    border-collapse: collapse;
    border-spacing: 0; }

  // Links
  a:focus {
    outline: thin dotted; }

  a:hover, a:active {
    outline: 0; }

  // Inlines
  b, strong {
    font-weight: bold; }

  dfn {
    font-style: italic; }

  mark {
    background: #ff0;
    color: #000; }

  small {
    font-size: 75%; }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }

  sup {
    top: -0.5em; }

  sub {
    bottom: -0.25em; }

  // Blockquote
  blockquote {
    margin-riht: 40px;
    margin-left: 40px; }

  // Headings
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold; }

  h1 { font-size: 2em; }
  h2 { font-size: 1.4em; }
  h3 { font-size: 1.2em; }
  h4 { font-size: 1em; }
  h5 { font-size: 0.9em; }
  h6 { font-size: 0.8em; }

  // Quotes
  q {
    quotes: none; }

  q:before, q:after {
    content: '';
    content: none; }

  // List
  ul, ol {
    margin-left: 0;
    padding: 0 0 0 $indent; }

  dd {
    margin: 0 0 0 $indent; }

  // List bullets
  ul li {
    list-style-type: disc; }

  ol li {
    list-style-type: numeric; }

  nav ul,
  nav ol {
    list-style: none;
    list-style-image: none; }

  // Margins
  #{$blocks} {
    margin: $vertical-margin 0; }
}

//@ [Mixin] if-no-boundary-margins
// Removes top/bottom margins from a content block. Use with `if-content`.
//
@mixin if-no-boundary-margins {
  #{$blocks} {
    &:first-child {
      margin-top: 0; }

    &:last-child {
      margin-bottom: 0; } } }

//@ [Mixin] if-horizontal-dl
// Horizontal definition lists.
//
@mixin if-horizontal-dl(
  $term-width: 100px,
  $margin: 20px,
  $vertical-margin: 10px
) {
  dl {
    @include pie-clearfix; }

  dt {
    clear: left;
    float: left;
    margin-right: $margin;
    width: $term-width; }

  dt, dd {
    margin-top: $vertical-margin; }

  dt:first-child, dt:first-child + dd {
    margin-top: 0; }

  dd {
    float: left; }
}
