// Ifkit / http://ricostacruz.com/ifkit
// ------------------------------------

//@[Group] Positioning
//
// Macros to help make absolute/relative positioning easier.
//
// To use, import this group in your stylesheet using `@import 'ifkit/position';`.

//@[Mixin] if-absolute($top, $right, $bottom, $left)
//@[Mixin] if-relative($top, $right, $bottom, $left)
//@[Mixin] if-fixed($top, $right, $bottom, $left)
//
// Macros for absolute, relative, and fixed positioning.
//
//     .toolbar {
//       @include if-absolute(0, auto, 50px, 50px); }
//
//     .icon {
//       @include if-relative($top: 0, $left: 50px); }
//
@mixin if-absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
  @include if-position($top, $right, $bottom, $left, $position: absolute); }

@mixin if-relative($top: auto, $right: auto, $bottom: auto, $left: auto) {
  @include if-position($top, $right, $bottom, $left, $position: relative); }

@mixin if-fixed($top: auto, $right: auto, $bottom: auto, $left: auto) {
  @include if-position($top, $right, $bottom, $left, $position: relative); }

@mixin if-position($top: auto, $right: auto, $bottom: auto, $left: auto, $position: auto) {
  @if $position != auto {
    position: $position; }
  @if $top != auto {
    top: $top; }
  @if $right != auto {
    right: $right; }
  @if $bottom != auto {
    bottom: $bottom; }
  @if $left != auto {
    left: $left; } }
